header{
    text-align: right;
    margin: 0px;
    width: 100%;
    height: 100px;
    border: 10px solid greenyellow;
    background-color: greenyellow;
} 
body{
    
    background-color: black;
    margin: 0px;
    width: 100%;
    height: 35px;
    color: white;
}
p{
    max-width: 80%;
}
h2{
    text-align: left;
    margin: 20px auto;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  text-align: center;
}

ul li {
  border-radius: 20%;
  border: 2px solid black;
  display: inline-block;
  background-color: grey;
}

ul li a {
  border-radius: 20%;
  border: 2px solid black;
  display: block;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
   border-radius: 20%;
   border: 2px solid black;
   background-color: black;  /* changes color of list ur hovering over*/
}

ul li a.active {
    background-color: darkgray;
    color: white;
    border: 3px dotted white;
}

section img {
    display: block;
    margin: 20px auto;  /* adds top & bottom spacing */
}

h3{
    text-align: center;
}

footer{
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 50px;
    border: 10px solid green;
    background-color: green;
}

